<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Smtp settings-->
    <add key="EnableSsl" value="true"/>
    <add key="UseDefaultCredentials" value="false"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="DeliveryMethod" value="Network"/>
    <add key="FromAddress" value=""/>
    <add key="FromPassword" value=""/>
    
    <!--Email settings-->
    <add key="Content" value="Hi,\n This is a test message.\n Thanks"/>
    <add key="Subject" value="Test message"/>
    <add key="IsHtml" value="false"/>
    <add key="To" value=""/>
    <add key="Cc" value=""/>
    <add key="Bcc" value=""/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>